In [1]:
import pandas as pd
import numpy as np

In [66]:
data=pd.read_excel('2020.xlsx')

In [67]:
data.head(3)

,NO,PERKARA,TKP,KECAMATAN,Unnamed: 4
0,1,PENIPUAN,DUSUN WIRAKARYA \nCIKAMPEK KOTA\nCIKAMPEK,CIKAMPEK,NaN
1,2,PENIPUAN,RS TITAN BUNDA\nDAWUAN TIMUR\nCIKAMPEK,CIKAMPEK,NaN
2,3,PENIPUAN,RSUD KARAWANG PUSEURJAYA\nTELUKJAMBE TIMUR\nKA...,TELUKJAMBE TIMUR,NaN

In [68]:
len(data)

946

In [69]:
hapus= ['FIDUSIA','UU FIDUSIA','UU ITE','PERZINAHAN','PENCEMARAN NAMA BAIK','UU KETENAGAKERJAAN',
        'PENGUASAAN TANAH TANPA HAK','PENGUASAAN TANAH TANPA IJIN','PERBUATAN TIDAK MENYENANGKAN',
        'PEMALSUAN TANDA TANGAN','KETERANGAN PALSU','PERKAWINAN TERHALANG',
        'UU NO 13 TAHUN 2003 TENTANG KETENAGAKERJAAN','MENEMPATKAN KETERANGAN PALSU','PENYEROBOTAN TANAH',
        'UU SERIKAT PEKERJA','UU HAK CIPTA','PENELANTARAN KELUARGA','MEMBAWA LARI ANAK',
        'MEMBAWA LARI ANAK PEREMPUAN TANPA IJIN','PENGGUNAAN MERK TANPA IJIN','MENYEBARKAN BERITA PALSU',
        'TP PEMBERITAAN BOHONG','MEMASUKI PERKARANGAN TANPA HAK',
        'Pelanggaran UU Darurat No 12/1951 Jo perbuatan tidak menyenangkan pasal 335 KUHPidana','PENGHINAAN',
        'PENGHINAAN RINGAN','MEMASUKI PEKARANGAN TANPA IJIN','MEMASUKI PEKARANGAN TANPA IJIN','TP MAL PRAKTEK',
        'UANG PALSU','NARKOTIKA','PENGGUNAAN MERK TANPA IZIN','FITNAH','TP MELAWAN PETUGAS','PENYEROBOTAN TANAH',
        'PENYEROBOTAN TANAH TANPA HAK','KARENA KELALAIAN MENGAKIBATKAN ORANG LAIN LUKA','UU BPJS','PENELANTARAN',
        'PENELANTARAN KELUARGA','PEMALSUAN SURAT','PEMALSUAN SURAT DAN ATAU PENIPUAN','PEMERASAN',
        'MEMBAWA LARI ANAK','MENEMPATKAN KETERANGAN PALSU','PENGANCAMAN','PENGUASAAN TANPA IJIN ',
        'Tanpa Hak atau melawan hukummemiliki,menyimpan,menguasai,atau menyediakan narkotika golongan 1 bukan tanaman',
        'PERJINAHAN','PEMALSUAN SURAT','PERTBUATAN TIDAK MENYENANGKAN','UU KONSUMEN','PENGGUNAAN MERK TANPA IJIN',
        'PENYALAH GUNAAN HAK','UU UPAH DIBAWAH MINIMUM SEKTOR','PENGGELAPAN HAK ATAS TANAH',
        'PENGUASAAN TANAH TANAP HAK','PENYALAHGUNAAN SAJAM','TP FITNAH','UU TENAGAKERJA','UU TENTANG SERIKAT PEKERJA']

In [70]:
data_filtered=data[~data['PERKARA'].isin(hapus)]

In [71]:
print(data_filtered.shape)

(828, 5)

-CONVERT EXCEL-

In [72]:
data_filter = pd.DataFrame(data_filtered)
data_filtered.to_excel(r'hasilPreprocessingKonvensional2020.xlsx',
                       index = False)

## MENGHILANGKAN MISSING VALUE

In [73]:
import pandas as pd
hasil1=pd.read_excel('hasilPreprocessingKonvensional2020.xlsx')

In [74]:
print(hasil1.shape)

(828, 5)

In [75]:
del hasil1['Unnamed: 4']

In [76]:
print(hasil1.shape)

(828, 4)

In [77]:
hasil1.isna().sum()

NO           0
PERKARA      0
TKP          0
KECAMATAN    7
dtype: int64

In [78]:
hasil1.dropna()

,NO,PERKARA,TKP,KECAMATAN
0,1,PENIPUAN,DUSUN WIRAKARYA \nCIKAMPEK KOTA\nCIKAMPEK,CIKAMPEK
1,2,PENIPUAN,RS TITAN BUNDA\nDAWUAN TIMUR\nCIKAMPEK,CIKAMPEK
2,3,PENIPUAN,RSUD KARAWANG PUSEURJAYA\nTELUKJAMBE TIMUR\nKA...,TELUKJAMBE TIMUR
3,4,PENGGELAPAN,MASJID BAITURAHMAN PERUM CKM\nDS BENGLE\nKEC M...,MAJALAYA
4,5,PENGERUSAKAN,KAMPUNG PAKAMPURAN \nDS TAMANSARI\nKEC PANGKAL...,PANGKALAN
...,...,...,...,...
823,942,PENIPUAN,VIA TRANSFER DI ATM BANK SINARMAS dan TUNAI\nP...,KARAWANG TIMUR
824,943,PEMALSUAN,Jl. Raya Kosambi No 43\nPROVINSI : JAWA BARAT\...,KLARI
825,944,PENGEROYOKAN,Dsn.Sukajaya Rt 11/02 Ds.Kemiri Kec.Jayakerta ...,JAYAKERTA
826,945,PENGANIAYAAN,Rengajaya II Rt 56/11\nPROVINSI : JAWA BARAT\n...,RENGASDENGKLOK
827,946,CURAT,Kp. Cengkong Ds. Sukasari Kec. Purwasari\nPROV...,PURWASARI

In [79]:
hasil2=hasil1.dropna(axis=0)

In [80]:
len(hasil2)

821

In [81]:
print(hasil2.shape)

(821, 4)

In [82]:
hasil2.isna().sum()

NO           0
PERKARA      0
TKP          0
KECAMATAN    0
dtype: int64

In [83]:
hasil2['PERKARA'].value_counts()

PENIPUAN                     198
CURAT                        126
CURANMOR                     100
PENGGELAPAN                   82
PENGANIAYAAN                  72
PENGEROYOKAN                  60
PENCURIAN                     58
CABUL                         31
KDRT                          25
PENIPUAN DAN PENGGELAPAN      20
CURAS                         18
PENGERUSAKAN                  13
PERUNDUNGAN ANAK               9
PEMALSUAN                      7
PERAMPASAN                     1
PENCURIAN DAN PENGGELAPAN      1
Name: PERKARA, dtype: int64

In [84]:
hasil2.to_excel(r'hasilPreprocessingMissingValue2020.xlsx', index = False)

## MENGHILANGKAN KOLOM YANG TIDAK DIBUTUHKAN

In [1]:
import pandas as pd
hasil3=pd.read_excel('hasilPreprocessingMissingValue2020.xlsx')

In [2]:
print(hasil3.shape)

(821, 4)

In [3]:
hasil3.head(3)

,NO,PERKARA,TKP,KECAMATAN
0,1,PENIPUAN,DUSUN WIRAKARYA \nCIKAMPEK KOTA\nCIKAMPEK,CIKAMPEK
1,2,PENIPUAN,RS TITAN BUNDA\nDAWUAN TIMUR\nCIKAMPEK,CIKAMPEK
2,3,PENIPUAN,RSUD KARAWANG PUSEURJAYA\nTELUKJAMBE TIMUR\nKA...,TELUKJAMBE TIMUR

-MENGHAPUS KOLOM YANG TIDAK DIBUTUHKAN-

In [4]:
hasil3=hasil3.drop(["TKP","NO"], axis=1)

In [5]:
hasil3.head(3)

    PERKARA         KECAMATAN
0  PENIPUAN          CIKAMPEK
1  PENIPUAN          CIKAMPEK
2  PENIPUAN  TELUKJAMBE TIMUR

-MENAMBAHAN KOLOM NO-

In [6]:
hasil3.insert(0, 'NO', hasil3.index+1)

In [7]:
hasil3.head(2)

   NO   PERKARA KECAMATAN
0   1  PENIPUAN  CIKAMPEK
1   2  PENIPUAN  CIKAMPEK

In [8]:
print(hasil3.shape)

(821, 3)

In [9]:
hasil3.to_excel(r'hasilCleaning2020.xlsx', index=False)

### PIVOT TABLE

In [11]:
import pandas as pd
import numpy as np

In [12]:
data_clean=pd.read_excel('hasilCleaning2020.xlsx')

In [13]:
# set pivot tabel
hasil_pivot = pd.pivot_table(data_clean, index='KECAMATAN', values='NO', columns='PERKARA', aggfunc='count')

# clear NaN, replace with 0
hasil_pivot = hasil_pivot.fillna(0)

# added TOTAL
hasil_pivot['TOTAL'] = hasil_pivot.sum(axis=1)
print(hasil_pivot)

# set to dataframe
data_filter = pd.DataFrame(hasil_pivot)
# export excel
data_filter.to_excel('hasil_pivot2019.xlsx', encoding='utf-8', index=True)

PERKARA           CABUL  CURANMOR  CURAS  CURAT  KDRT  PEMALSUAN  PENCURIAN  \
KECAMATAN
BANYUSARI           1.0       2.0    0.0    2.0   0.0        0.0        1.0
BATUJAYA            3.0       1.0    1.0    0.0   0.0        0.0        0.0
CIAMPEL             0.0       1.0    0.0    6.0   2.0        1.0        6.0
CIBUAYA             2.0       0.0    0.0    0.0   0.0        0.0        0.0
CIKAMPEK            1.0       1.0    0.0    5.0   0.0        0.0        3.0
CILAMAYA KULON      1.0       1.0    0.0    1.0   0.0        0.0        0.0
CILAMAYA WETAN      1.0       2.0    0.0    2.0   0.0        0.0        1.0
CILEBAR             0.0       0.0    0.0    0.0   0.0        0.0        0.0
JATISARI            0.0       3.0    3.0    2.0   1.0        0.0        0.0
JAYAKERTA           0.0       0.0    0.0    1.0   0.0        0.0        1.0
KARAWANG BARAT      3.0      23.0    2.0   14.0   5.0        3.0        7.0
KARAWANG TIMUR      2.0      27.0    5.0   22.0   4.0        1.0       12.0
KLARI               1.0      11.0    0.0   18.0   4.0        2.0        8.0
KOTABARU            1.0       1.0    1.0    0.0   3.0        0.0        1.0
KUTAWALUYA          1.0       0.0    0.0    2.0   0.0        0.0        1.0
LEMAHABANG          1.0       0.0    0.0    2.0   1.0        0.0        0.0
MAJALAYA            3.0       1.0    3.0    4.0   0.0        0.0        3.0
PAKISJAYA           0.0       1.0    0.0    0.0   0.0        0.0        0.0
PANGKALAN           1.0       0.0    0.0    3.0   0.0        0.0        1.0
PEDES               0.0       0.0    0.0    1.0   0.0        0.0        0.0
PURWASARI           3.0       0.0    0.0    4.0   1.0        0.0        1.0
RAWAMERTA           0.0       8.0    0.0    0.0   0.0        0.0        1.0
RENGASDENGKLOK      0.0       2.0    0.0    6.0   0.0        0.0        4.0
TEGALWARU           0.0       0.0    0.0    2.0   0.0        0.0        1.0
TELAGASARI          2.0       0.0    1.0    0.0   1.0        0.0        0.0
TELUKJAMBE BARAT    0.0       0.0    0.0    3.0   0.0        0.0        2.0
TELUKJAMBE TIMUR    2.0      11.0    2.0   24.0   2.0        0.0        4.0
TEMPURAN            1.0       1.0    0.0    0.0   1.0        0.0        0.0
TIRTAJAYA           1.0       3.0    0.0    1.0   0.0        0.0        0.0
TIRTAMULYA          0.0       0.0    0.0    1.0   0.0        0.0        0.0

PERKARA           PENCURIAN DAN PENGGELAPAN  PENGANIAYAAN  PENGEROYOKAN  \
KECAMATAN
BANYUSARI                               0.0           0.0           0.0
BATUJAYA                                0.0           0.0           0.0
CIAMPEL                                 1.0           4.0           1.0
CIBUAYA                                 0.0           2.0           1.0
CIKAMPEK                                0.0          10.0          12.0
CILAMAYA KULON                          0.0           0.0           0.0
CILAMAYA WETAN                          0.0           1.0           2.0
CILEBAR                                 0.0           0.0           1.0
JATISARI                                0.0           0.0           4.0
JAYAKERTA                               0.0           1.0           1.0
KARAWANG BARAT                          0.0          10.0           4.0
KARAWANG TIMUR                          0.0           8.0           5.0
KLARI                                   0.0          11.0           4.0
KOTABARU                                0.0           1.0           4.0
KUTAWALUYA                              0.0           3.0           0.0
LEMAHABANG                              0.0           2.0           2.0
MAJALAYA                                0.0           1.0           2.0
PAKISJAYA                               0.0           1.0           1.0
PANGKALAN                               0.0           0.0           0.0
PEDES                                   0.0           1.0           0.0
PURWASARI                               0.0           0.0           1.0
RAWAMERTA                               0.0           1.0           1.0
RENGASDENGKLOK                          0.0           4.0           4.0
TEGALWARU                               0.0           1.0           1.0
TELAGASARI                              0.0           0.0           0.0
TELUKJAMBE BARAT                        0.0           1.0           1.0
TELUKJAMBE TIMUR                        0.0           6.0           6.0
TEMPURAN                                0.0           1.0           1.0
TIRTAJAYA                               0.0           1.0           1.0
TIRTAMULYA                              0.0           1.0           0.0

PERKARA           PENGERUSAKAN  PENGGELAPAN  PENIPUAN  \
KECAMATAN
BANYUSARI                  0.0          0.0       2.0
BATUJAYA                   0.0          0.0       0.0
CIAMPEL                    1.0          3.0       8.0
CIBUAYA                    0.0          0.0       1.0
CIKAMPEK                   1.0          6.0      17.0
CILAMAYA KULON             0.0          0.0       2.0
CILAMAYA WETAN             0.0          2.0       0.0
CILEBAR                    0.0          0.0       1.0
JATISARI                   0.0          0.0       1.0
JAYAKERTA                  0.0          0.0       0.0
KARAWANG BARAT             0.0         14.0      27.0
KARAWANG TIMUR             0.0         12.0      27.0
KLARI                      3.0         10.0      19.0
KOTABARU                   0.0          7.0      11.0
KUTAWALUYA                 1.0          1.0       1.0
LEMAHABANG                 0.0          0.0       2.0
MAJALAYA                   1.0          3.0       4.0
PAKISJAYA                  0.0          0.0       0.0
PANGKALAN                  1.0          1.0       0.0
PEDES                      0.0          0.0       1.0
PURWASARI                  0.0          0.0       2.0
RAWAMERTA                  0.0          2.0       3.0
RENGASDENGKLOK             1.0          2.0       8.0
TEGALWARU                  0.0          0.0       1.0
TELAGASARI                 0.0          1.0       5.0
TELUKJAMBE BARAT           0.0          3.0       4.0
TELUKJAMBE TIMUR           4.0         12.0      50.0
TEMPURAN                   0.0          2.0       1.0
TIRTAJAYA                  0.0          0.0       0.0
TIRTAMULYA                 0.0          1.0       0.0

PERKARA           PENIPUAN DAN PENGGELAPAN  PERAMPASAN  PERUNDUNGAN ANAK  \
KECAMATAN
BANYUSARI                              0.0         0.0               0.0
BATUJAYA                               1.0         0.0               0.0
CIAMPEL                                1.0         0.0               0.0
CIBUAYA                                0.0         0.0               0.0
CIKAMPEK                               1.0         0.0               0.0
CILAMAYA KULON                         0.0         0.0               1.0
CILAMAYA WETAN                         0.0         0.0               0.0
CILEBAR                                0.0         0.0               0.0
JATISARI                               0.0         0.0               1.0
JAYAKERTA                              0.0         0.0               0.0
KARAWANG BARAT                         2.0         0.0               2.0
KARAWANG TIMUR                         1.0         0.0               1.0
KLARI                                  8.0         0.0               1.0
KOTABARU                               0.0         0.0               0.0
KUTAWALUYA                             0.0         0.0               0.0
LEMAHABANG                             1.0         0.0               0.0
MAJALAYA                               0.0         0.0               0.0
PAKISJAYA                              0.0         0.0               0.0
PANGKALAN                              1.0         0.0               0.0
PEDES                                  0.0         0.0               0.0
PURWASARI                              0.0         0.0               0.0
RAWAMERTA                              0.0         0.0               1.0
RENGASDENGKLOK                         1.0         0.0               0.0
TEGALWARU                              0.0         0.0               0.0
TELAGASARI                             0.0         0.0               1.0
TELUKJAMBE BARAT                       0.0         0.0               0.0
TELUKJAMBE TIMUR                       3.0         1.0               1.0
TEMPURAN                               0.0         0.0               0.0
TIRTAJAYA                              0.0         0.0               0.0
TIRTAMULYA                             0.0         0.0               0.0

PERKARA           TOTAL
KECAMATAN
BANYUSARI           8.0
BATUJAYA            6.0
CIAMPEL            35.0
CIBUAYA             6.0
CIKAMPEK           57.0
CILAMAYA KULON      6.0
CILAMAYA WETAN     11.0
CILEBAR             2.0
JATISARI           15.0
JAYAKERTA           4.0
KARAWANG BARAT    116.0
KARAWANG TIMUR    127.0
KLARI             100.0
KOTABARU           30.0
KUTAWALUYA         10.0
LEMAHABANG         11.0
MAJALAYA           25.0
PAKISJAYA           3.0
PANGKALAN           8.0
PEDES               3.0
PURWASARI          12.0
RAWAMERTA          17.0
RENGASDENGKLOK     32.0
TEGALWARU           6.0
TELAGASARI         11.0
TELUKJAMBE BARAT   14.0
TELUKJAMBE TIMUR  128.0
TEMPURAN            8.0
TIRTAJAYA           7.0
TIRTAMULYA          3.0

In [17]:
# set pivot tabel
#hasil_pivot2 = pd.pivot_table(data_clean, index='KECAMATAN', aggfunc='count')