In [10]:
import numpy as np
import pandas as pd
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
import seaborn as sns

In [11]:
df = pd.read_excel('hasil_pivotINtegrasi.xlsx')

In [12]:
df.head(5)

,KECAMATAN,CABUL,CURANMOR,CURAS,CURAT,KDRT,PELECEHAN SEKSUAL,PEMALSUAN,PEMBAKARAN,PEMBUNUHAN,...,PENCURIAN DAN PENGGELAPAN,PENGANIAYAAN,PENGEROYOKAN,PENGERUSAKAN,PENGGELAPAN,PENIPUAN,PENIPUAN DAN PENGGELAPAN,PERAMPASAN,PERUNDUNGAN ANAK,TOTAL
0,BANYUSARI,2,7,0,10,0,0,0,0,1,...,0,0,0,1,0,5,1,0,0,29
1,BATUJAYA,5,1,1,0,1,0,1,0,0,...,0,0,1,0,0,1,3,0,1,15
2,CIAMPEL,2,6,0,10,5,0,2,0,0,...,1,7,5,6,10,19,13,0,0,98
3,CIBUAYA,2,1,0,0,1,0,0,0,0,...,0,3,1,2,1,2,1,0,2,18
4,CIKAMPEK,3,7,6,14,5,0,1,0,0,...,0,16,19,4,18,38,8,0,1,151

In [13]:
df=df[['KECAMATAN','TOTAL']]

In [14]:
print(df)

           KECAMATAN  TOTAL
0          BANYUSARI     29
1           BATUJAYA     15
2            CIAMPEL     98
3            CIBUAYA     18
4           CIKAMPEK    151
5     CILAMAYA KULON     27
6     CILAMAYA WETAN     38
7            CILEBAR      7
8           JATISARI     41
9          JAYAKERTA     22
10    KARAWANG BARAT    332
11    KARAWANG TIMUR    351
12             KLARI    286
13          KOTABARU     57
14        KUTAWALUYA     23
15        LEMAHABANG     30
16          MAJALAYA     52
17         PAKISJAYA     11
18         PANGKALAN     11
19             PEDES     19
20         PURWASARI     32
21         RAWAMERTA     22
22    RENGASDENGKLOK     74
23         TEGALWARU     13
24        TELAGASARI     33
25  TELUKJAMBE BARAT     43
26  TELUKJAMBE TIMUR    310
27          TEMPURAN     25
28         TIRTAJAYA     20
29        TIRTAMULYA     10

In [15]:
print(df.shape)

(30, 2)

In [16]:
df.isna().sum()

KECAMATAN    0
TOTAL        0
dtype: int64

In [17]:
# df.dropna(inplace=True)
dt_processing = df.drop('KECAMATAN', axis=1)
dt_processing

    TOTAL
0      29
1      15
2      98
3      18
4     151
5      27
6      38
7       7
8      41
9      22
10    332
11    351
12    286
13     57
14     23
15     30
16     52
17     11
18     11
19     19
20     32
21     22
22     74
23     13
24     33
25     43
26    310
27     25
28     20
29     10

In [18]:
# menentukan nilai minimum untuk centroid 1 awal
index_min = dt_processing.idxmin()['TOTAL']
c1 = dt_processing.iloc[[index_min]].values
c1

array([[7]], dtype=int64)

In [22]:
# menentukan nilai rata-rata untuk centroid 2 awal
index_average = dt_processing.mean()['TOTAL']
c2= dt_processing.iloc[[index_average]].values
c2

IndexError: positional indexers are out-of-bounds

In [69]:
# menentukan nilai maximum untuk centroid 3 awal
index_max = dt_processing.idxmax()['TOTAL']
c3 = dt_processing.iloc[[index_max]].values
c3

array([[351]], dtype=int64)

In [55]:
#KMeans(n_clusters=3).fit(df2).score(df2)

In [56]:
#scr=[]
#for i in range(1,20):
#    score=KMeans(n_clusters=i).fit(df2).score(df2)
#    print(score)
#    scr.append(score)

In [57]:
#plt.plot(scr)

In [58]:
#kmeans= KMeans(n_clusters=3)
#kmeans.fit(df2)

In [59]:
#kmeans.labels_

In [60]:
#df2.loc[:,'cluster'] = kmeans.labels_

In [61]:
#df2.head(3)